DB_NAME=arpi
DB_USER=arpi
DB_PASSWORD=arpi
DB_ROOT_PASSWORD=root
DB_HOST=db
DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://localhost:8080
WP_DEBUG=true

ACF_PRO_KEY=

# Sole — wygenerowane per instalacja (patrz niżej)
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=
